:root {
    --tamaño-lineal: 280px; /* Increased from 250px */
    --tamaño-white: 240px;  /* Increased from 200px */
    --radious: 30px;
    --shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    --hover-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
}

body {
    overflow-x: hidden; 
    margin: 0; 
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lineal-qr {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(68, 114, 255, 1), rgba(0, 85, 192, 0.8), rgba(7, 9, 168, 1));
    height: var(--tamaño-lineal);
    width: var(--tamaño-lineal);
    max-width: 100vw; /* Allowing it to scale larger */
    max-height: 100vw; /* Allowing it to scale larger */
    border-radius: var(--radious);
}

.white-qr {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radious);
    background-color: aliceblue;
    height: var(--tamaño-white);
    width: var(--tamaño-white);
    max-width: 90vw; /* Allowing it to scale larger */
    max-height: 90vw; /* Allowing it to scale larger */
}

.qr {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: var(--radious);
    transform: scale(1.4); 
    height: 10%;  
    width: 10%;
    margin: 0;
}

.textQr {
    font-weight: bold;
    font-size: 20px; 
    color: white; 
    text-shadow: var(--shadow);
}

.div-button {
    margin: 2%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 10px;
    flex-direction: column;
}

.button {
    padding: 15px 25px;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    background: rgba(68, 114, 255, 1);
    font-size: 16px; 
    text-align: center;
    text-decoration: none;
    box-shadow: var(--shadow);
    border: none;
    transition: transform 0.2s, box-shadow 0.2s; 
}

.button:hover {
    text-decoration: none;
    transform: scale(1.1); 
    box-shadow: var(--hover-shadow);
}

@media (max-width: 768px) {
    :root {
        --tamaño-lineal: 270px;  /* Scaled down for smaller screens */
        --tamaño-white: 200px;   /* Scaled down for smaller screens */
        --radious: 20px;
    }

    .textQr {
        font-size: 18px; 
    }

    .button {
        padding: 12px 20px; 
        font-size: 14px; 
    }

    .div-button {
        margin: 5%; 
        flex-direction: column; 
    }

    main {
        padding: 10px; 
    }

    .qr {
        margin-top: 10px; 
        margin-bottom: 10px; 
        width: 100%; 
    }
}
